*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Heebo', sans-serif;
}

/* header */

.container-fluid{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: fixed;
}

.mynav{
    width: 100%;
    height: 100%;
}

.myul{
    display: flex;
    width: 100%;
    height: 100%;
}

.mymrjon{
    width: 136px;
    height: 56px;
    background: transparent url('img/Group 2733.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 100% 100%;
    margin-left: 120px;
    margin-top: 26.95px;
}

.myul>li{
    list-style: none;
    margin-top: 38px;
}

.myul>li>a{
    color: black;
    text-decoration: none;
}

.myul>li>a:hover{
    color: #5CBE07;
}

.home{
width: 112px;
height: 32px;
opacity: 1;
margin-left: 563px;
}

.home>.ahome{
    color: #5CBE07;
}

.about{
width: 112px;
height: 32px;
opacity: 1;
}

.contact{
width: 153px;
height: 32px;
opacity: 1;
margin-left: 10px;
}

.welcome{
width: 112px;
height: 32px;
opacity: 1;
margin-left: 18px;
}

.myul>.regist{
width: 155px;
height: 45px;
margin-top: 32px;
margin-left: 8px;
}

.butregist{
width: 100%;
height: 100%;
background: #5CBE07 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
border: none;
}

.butregist:hover{
    opacity: 0.8;
    transition: 1s;
}

.butregist:hover .das{
    color: #000000;
}

.butregist>a{
    width: 79px;
    height: 21px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* section */

.s1{
    width: 100%;
    display: flex;
}

.comp{
    width: 1000px;
    height: 805px;
    background-image: url(../mutq/img/Group\ 5.png);
    background-size: 100% 100%;
}


#search{
width: 520px;
height: 804px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 10px #00000082;
opacity: 1;
padding-top: 200px;
}

.on{
    width: 180px;
    height: 73px;
    opacity: 1;
    margin-left: 162px;
}

.gran{
width: 99px;
height: 27px;
text-align: left;
font-size: 20px;
font-weight: 400;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-left: 200px;
margin-top: 25px;
display: inline-block;
}

#anun{
width: 344px;
height: 50px;
border: 2px solid #000000;
border-radius: 4px;
opacity: 1;
margin-left: 90px;
margin-top: 20px;
}

#azganun{
width: 344px;
height: 50px;
border: 2px solid #000000;
border-radius: 4px;
opacity: 1;
margin-left: 90px;
margin-top: 12px;
}

#el{
    width: 344px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 4px;
    opacity: 1;
    margin-left: 90px;
    margin-top: 12px;
}

#par{
    width: 344px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 4px;
    opacity: 1;
    margin-left: 90px;
    margin-top: 12px;
}

.hajord{
width: 344px;
height: 45px;
background: #5CBE07 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
margin-left: 90px;
margin-top: 12px;
border: none;
}

.hajord:hover .next{
    color: #000000;
}

.hajord:hover{
    opacity: 0.8;
    transition: 1s;
}

.next{
width: 70px;
height: 21px;
text-align: left;
font-size: 16px;
font-weight: 600;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.vis{
    width: 24px;
    height: 24px;
    margin-left: -45px;
}

.arden{
    width: 100%;
    display: flex;
    margin-top: 90px;
}

.dar{
width: 157px;
height: 19px;
text-align: left;
font-size: 14px;
font-weight: 600;
letter-spacing: 0px;
color: #242424;
opacity: 1;
text-decoration: none;
margin-left: 160px;
}

.come{
    width: 116px;
    height: 32px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #242424;
    opacity: 1;
    text-decoration: none;
}

.come:hover{
    color: #5CBE07;
}


/* footer */

.foot{
    width: 100%;    
    height: 212px;
    background: #010101 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    
    
    .fotul{
        display: flex;
        width: 100%;
        padding-top: 77px;
    }
    
    .fotnav>.fotul>li{
        list-style: none;
        margin-right: 36px;
    }
    
    .fotnav>.fotul>li>a{
        text-decoration: none;
        color: white;
    }
    
    .fothome{
        margin-left: 560px;
    }
    
    .icons{
        width: 100%;
        display: flex;
        margin-top: 46px;
    }
    
    .in{
        margin-left: 700px;
    }
    
    .icons>img{
        margin-right: 10px;
    }
    
    .fa-heart-o{
    width: 24px;
    height: 24px;
    opacity: 1;
    color: white;
    margin-top: 135px;
    margin-left: 17px;
    }
    
    .fa-heart{
    width: 20px;
    color: white;
    opacity: 1;
    margin-top: 135px;
    margin-left: 17px;
    }